{#
/**
 * @file
 * Default theme implementation to display a responsive table of contents.
 *
 * Returns HTML for a responsive table of contents.
 *
 * Available variables:
 * - entity: the entity the TOC belongs to.
 * - title: the title to display for the table of content.
 * - tag: the tag to use for the title.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  <nav role="navigation"{% if title is not empty %} aria-labelledby="{{ title_attributes.id }}"{% endif %}>{% if title is not empty %}
    <{{ tag }} {{ title_attributes }}>{{ title }}</{{ tag }}>
  {% endif %}</nav>
</div>
